/* CSS Document */
.menu_enter
{
    width:81px;
    height:50px;
    position:relative;
    z-index:106;
}

.menu_enter ul li a, .menu_enter ul li a:visited{
	background:url(/image/enter.png) no-repeat;
    display:block;
    width:81px;
    height:50px;
    overflow:hidden;
}

.menu_enter ul li a:hover
{
	background-position:0 -51px;
}

.menu_enter ul{
    padding:0;
    margin:0;
    list-style:none
}

.menu_enter ul li{
    float:left;
    position:relative}
.menu_enter ul li ul{
    display:none
}

.menu_enter ul li:hover ul{
    display:block;
    position:absolute;
    top:50px;
    left:-3px;
}
/* Вход */

/* Регистрация */
.menu_reg
{
    width:129px;
    height:50px;
    position:relative;
    z-index:105;
}

.menu_reg ul li a, .menu_reg ul li a:visited{
	background:url(/image/registration_btn.png) no-repeat;
    display:block;
    width:129px;
    height:50px;
    overflow:hidden;
}

.menu_reg ul li a:hover
{
	background-position:0 -51px;
}

.menu_reg ul{
    padding:0;
    margin:0;
    list-style:none
}

.menu_reg ul li{
    float:left;
    position:relative}
.menu_reg ul li ul{
    display:none
}

.menu_reg ul li:hover ul{
    display:block;
    position:absolute;
    top:50px;
    left:-3px;
}
/* Регистрация */

/* Товары */
.menu_vp
{
    width:212px;
    height:73px;
    position:relative;
    z-index:100;
}

.menu_vp_a, .menu_vp_a:visited{
    display:block;
	padding-top:20px;
	padding-left:0px;
    width:212px;
    height:54px;
    overflow:hidden;
	text-decoration:none;
}

.menu_vp_a:hover
{
	text-decoration:underline;
}


.menu_vp ul{
    padding:0;
    margin:0;
    list-style:none
}

.menu_vp ul li{
    float:left;
    position:relative}
	
.menu_vp ul li ul{
    display:none
}

.menu_vp ul li:hover ul{
    display:block;
    position:absolute;
    top:73px;
    left:-45px;
}
/* Товары */


/* Магазины */
.menu_vp_a_mark
{
	background:url(/image/choise.png) no-repeat;
	background-position: 0 9px;
}

.menu_vp1
{
    width:202px;
    height:73px;
    position:relative;
    z-index:100;
}

.menu_vp1_a, .menu_vp1_a:visited{
    display:block;
	padding-top:25px;
	padding-left:15px;
    width:202px;
    height:54px;
    overflow:hidden;
}


.menu_vp1 ul{
    padding:0;
    margin:0;
    list-style:none
}

.menu_vp1 ul li{
    float:left;
    position:relative}
	
.menu_vp1 ul li ul{
    display:none
}

.menu_vp1 ul li:hover ul{
    display:block;
    position:absolute;
    top:73px;
    left:0px;
}
/* Магазины */
